.Dictionary section {
	background-color: #e5ebf7;
	padding: 30px;
	border-radius: 6px;
	box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
	margin: 20px 0;
}

.Dictionary h1 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
}

.Dictionary input {
	width: 30%;
	border-radius: 5px;
	padding: 6px 10px;
	color: #333;
	border: 1px solid #ddd;
}
